{{> loader }}
<section class="sctn-dark-gradient heading">
  <i class="fa fa-tasks fa-5x"></i>
  <h1 id="task-heading">Tasks</h1>
  <h3 id="project-name">Project - "{{project_name}}"</h3>
  <a href="/dashboard/projects"><button>Return to projects</button></a>

  <div class="timer form-grid">
    <input type="hidden" id="csrf" name="_csrf" value={{csrfToken}}>
    <input type="hidden" value="{{color}}" id="hidden-color">
    <input type="hidden" value="{{default_value}}" id="hidden-value">
    <input type="text" placeholder="What are you timing?" name="task_name" id="task-name">
    <hr>
    <input type="text" placeholder="$0.00" name="value" id="task-amt">
    <hr class="remove-hr">
    <div id="stopwatch">
      <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
      <i id="task-control" class="task-control play"></i>
    </div>
    <div id="timer-project"><span id="timer-project-inner" style="background-color:#{{color}}">{{project_name}}</span></div>
  </div>

</section>
<section class="sctn-light">
  <div class="container">
  </div>
</section>
