<div class="project-grid" style="border-left-color:#{{color}}">
	<span class="dollar-amt">{{default_value}}</span>
	<div class="dropdown-menu">
		<a class="project-settings"></a>
	</div>
	<h2>{{project_name}}</h2>
	<p>{{description}}<p>
	<a href="tasks/{{project_name}}"><button style="background-color:#{{color}}">Go to tasks</button></a>
</div>
