<div class="project-grid" style="border-left-color:#{{color}}">
	<input type="hidden" value="{{project_name}}" class="original-title">
	<input type="text" class="dollar-amt" value="${{default_value}}" disabled>
	<a class="project-settings"></a>
	<button class="btn save">Save</button>
	<input type="text" class="project-card-name" value="{{project_name}}" disabled>
	<textarea type="text" class="project-card-description" disabled>{{description}}</textarea>
	<span class="goto-tasks">
		<a href="tasks/{{project_name}}"><button style="background-color:#{{color}}">Go to tasks</button></a>
	</span>
	<div class="delete-container">
		<button class="btn delete">Delete Project</button>
		<span class="confirm">
			Are you sure?
			<button id="project-delete-cancel" class="btn">No</button>
			<button id="project-delete-confirm" class="btn">Yes</button>
		</span>
	</div>
</div>
