<div class="task">
  <div class="task-section task-info">
    <span class="task-name inline">{{task_name}}</span> <span class="task-project-name inline" style="background-color:{{color}};">{{project_name}}</span>
    <span class="task-value">{{value}} per hour</span>
  </div>
  <div class="task-section task-tags"></div>
  <div class="task-section task-elapsed">
    <div class="task-subsection inline">
      <span class="hours">{{elapsed.hours}}</span>:<span class="minutes">{{elapsed.minutes}}</span>:<span class="seconds">{{elapsed.seconds}}</span>
    </div>
    <div class="task-subsection inline">
      <span class="task-start">{{start_time}}</span> - <span class="task-end">{{end_time}}</span>
    </div>
    <div class="task-subsection inline">
      <span class="total-time">$00.00</span>
    </div>
  </div>
  <div class="task-edit">
    <i class="task-edit-inner fa fa-edit"></i>
  </div>
</div>
