<div class="task">
  <div class="task-name">{{task_name}}</div>
  <div class="task-project-name">{{project_name}}</div>
  <div class="task-value">{{value}}</div>
  <div class="task-description">{{description}}</div>
  <div class="task-start">{{start_time}}</div>
  -
  <div class="task-end">{{end_time}}</div>
  <div class="task-tags"></div>
  <i class="task-control fa fa-play fa-2x"></i>
  <div class="task-elapsed">
    <span class="hours">{{elapsed.hours}}</span>:<span class="minutes">{{elapsed.minutes}}</span>:<span class="seconds">{{elapsed.seconds}}</span>
</div>
