<div class="task">
  <span class="task-section">
    <h4 class="task-name inline">{{task_name}}</h4> <h5 class="task-project-name inline">{{project_name}}</h5>
  </span>
  <span class="task-section task-value">{{value}}</span>
  <span class="task-section task-description">{{description}}</span>
  <span class="task-section"><span class="task-start">{{start_time}}</span>-<span class="task-end">{{end_time}}</span></span>
  <span class="task-section task-tags"></span>
  <span class="task-section task-elapsed">
    <span class="hours">{{elapsed.hours}}</span>:<span class="minutes">{{elapsed.minutes}}</span>:<span class="seconds">{{elapsed.seconds}}</span>
  </span>
</div>
